@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
	width: 100%;
	min-height: 100vh;
	background-image: url(img/bg.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

a {
	text-decoration: none;
	color: black;
}

ul, li {
	list-style: none;
}

header .container {
	display: flex;
	justify-content: space-between;
	padding-top: 50px;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.wrapper {
	width: 100%;
	height: 100vh;
	background-image: url(img/bg-person.png);
	background-position: -70px 70px;
	background-repeat: no-repeat;
	background-size: cover;
}

.header__logo #logo {
	font-weight: 900;
	font-size: 18px;
	text-transform: uppercase;
}

.header__nav ul {
	display: flex;
}

.header__nav ul li {
	margin-right: 25px;
	font-weight: 500;
}

.header__nav ul li:last-child {
	margin-right: 0;
}

.header__nav ul li a {
	padding-bottom: 7px;
	transition: 0.2s border ease;
}

.header__nav ul li a:hover {
	border-bottom: 3px solid black;
	transition: 0.2s border ease;
}

.header__nav .a-active {
	border-bottom: 3px solid black;
}

.header__buttons ul {
	display: flex;
}

.header__buttons ul li {
	margin-right: 20px;
}

.header__buttons ul li:last-child {
	margin-right: 0px;
}

.header__buttons ul li a{
	font-size: 20px;
	font-weight: 200;
}

main .container{
	display: flex;
	justify-content: space-between;
	padding-top: 40px;
}

.left-block h1 {
	font-weight: 900;
	font-size: 100px;
	text-transform: uppercase;
	background: rgb(228,186,164);
	background: radial-gradient(circle farthest-corner at 50% 60%, rgba(228,186,164,1) 0%, rgba(228,186,164,1) 0%, rgba(0,0,0,1) 90%);
	background-position: center bottom;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.price {
	display: flex;
	align-items: center;
	margin-top: 40px;
}

.price-line {
	width: 25px;
	height: 2px;
	background-color: black;
	display: block;
	margin-right: 10px;
}

.price span {
	font-weight: 900;
	font-size: 18px;
}

.right-block {
	width: 35%;
	position: relative;
	padding-right: 50px;
}

.right-block h2 {
	font-size: 28px;
	margin-bottom: 30px;
}

.right-block p {
	margin-bottom: 30px;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	color: #615d5c;
}

.sizes {
	margin-bottom: 50px;
}

.btn {
	background-color: transparent;
	border: 2px solid #c4bfbc;
	font-size: 16px;
	color: #c4bfbc;
	width: 45px;
	height: 45px;
	cursor: pointer;
	font-weight: 500;
	transition: 0.3s border ease;
	margin-right: 10px;
}

.btn:hover {
	border: 2px solid #000;
	transition: 0.3s all ease;
	color: #000;
}

.btn-active {
	color: black;
	border: 2px solid #000;
}

.btn-add-to-cart {
	color: #dd8d78;
	font-weight: 500;
	font-size: 14px;
	width: 240px;
	height: 50px;
	border: 2px solid #dd8d78;
	cursor: pointer;
	background: transparent;
	transition: 0.3s background ease;
	transition: 0.3s color ease;
}

.btn-add-to-cart:hover {
	background: #dd8d78;
	transition: 0.3s background ease;
	transition: 0.3s color ease;
	color: white;
}

.absolute-right {
	position: absolute;
	right: 0;
	bottom: 0;
}

.absolute-right .line {
	width: 2px;
	height: 80px;
	background-color: #000;
	margin-bottom: 15px;
	margin-left: 5px;
}

.absolute-right span {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 15px;
	display: block;
}

footer {
	position: absolute;
	bottom: 30px;
	right: 0;
	left: 0;
}

footer .container {
	display: flex;
	justify-content: space-between;
}

.links ul{
	display: flex;
}

.links a {
	margin-right: 30px;
	font-weight: 700;
}

.links ul li:last-child a {
	margin-right: 0;
}

.footer__rights {
	color: #625e5d;
	font-size: 16px;
}